*{
    padding:0;
    margin:0;
}
body
{ 
    background-image: url("image3.webp");  
    background-color: #130f40;
    background-size:cover;
    display:flex;
}
.container
{
position: relative;
margin-top: 100px;
width: 450px;
height: auto;
background: #e9cb6a;
border-radius:5px ;
}
.label
{
    padding: 20px 130px;
    font-size:35px;
    font-weight:bold;
    color:#7770c7;

}
.login_form
{
    padding: 20px 40px;
}
.login_form .font
{
    font-size: 18px;
    color:#130f40;
    margin: 5px 0;
}
.login_form .input
{
    margin:100px auto;
    padding:0 5px;
    height:40px;
    width:350px;
    font-size: 18px;
    outline: none;
    border: 1px solid rgb(86, 228, 20);
}
.login_form.font1
{
    margin-top:20px;

}
login_form.font2
{
    margin-top: 30px;
}
